.homePage {

    display: flex;
    flex-direction: column;
    margin: 50px;
    border-radius: 8px;
    border-color: var(--lightblue);
    padding: 0 10%;
    border: 1px solid;


    p {
        font-size: 1.5rem;
        margin: 1rem;
        
    }
}

@media (max-width: 650px) {

    .homePage {
        margin: 0;
        padding: 0;
        border: none;

        img {
            width: 90%;
        }
    }
}